<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Undivided</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Search Form -->
                            <div class="search-form">
                                <form action="#" method="get">
                                    <input type="search" name="search" class="form-control" placeholder="Выполните поиск...">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>

                            <!-- Social Button -->
                            <div class="top-social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><h1>Undivided</h1> </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="foode-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar" id="foodeNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><h1>Undivided</h1> </a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Главная страница</a></li>
                                    <li><a href="#">Кухни</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Итальянская</a></li>
                                            <li><a href="archive-blog.html">Индийская</a></li>
                                            <li><a href="single-post.html">Японская</a></li>
                                            <li><a href="about-us.html">Русская</a></li>
                                            <li><a href="contact.html">Армянская</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Категории</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">- Блюда</a></li>
                                                <li><a href="#">- Завтрак</a></li>
                                                <li><a href="#">- Полдник</a></li>
                                                <li><a href="#">- Обед</a></li>
                                                <li><a href="#">- Ужин</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">- Сладкое</a></li>
                                                <li><a href="#">- Коктейли</a></li>
                                                <li><a href="#">- Супы</a></li>
                                                <li><a href="#">- Салаты</a></li>
                                                <li><a href="#">- Выпечка</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">- Блюда</a></li>
                                                <li><a href="#">- Завтрак</a></li>
                                                <li><a href="#">- Полдник</a></li>
                                                <li><a href="#">- Обед</a></li>
                                                <li><a href="#">- Ужин</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#">- Сладкое</a></li>
                                                <li><a href="#">- Коктейли</a></li>
                                                <li><a href="#">- Супы</a></li>
                                                <li><a href="#">- Салаты</a></li>
                                                <li><a href="#">- Выпечка</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="about-us.html">О нас</a></li>
                                    <li><a href="contact.html">Контакты</a></li>
                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="img/core-img/breadcrumb-line.png" alt="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Главная страница</a></li>
                            <li class="breadcrumb-item active" aria-current="page">О нас</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <div class="about-us-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="section-heading">
                        <h2>О нас</h2>
                        <p>Новый уникальный проект о еде</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="about-content">
                        <img src="img/About.jpg" alt="">
                        <p>Мы знаем, что такое долг перед обществом, что такое адиписирующая элита, что такое временный инцидент, что такое труд и великая скорбь. Мы должны стремиться к минимальному вознаграждению, потому что это не требует больших затрат труда и не требует дополнительных затрат, как следствие этого. Я испытываю сильную боль в порицании, я испытываю сладострастие, я чувствую смертельную боль, я убегаю от всего.</p>
                        <p>Здесь и сейчас, когда очевидность и всеобщность являются естественными ошибками, возникают сладострастные обвинения и скорбь, и похвала, и все остальное, и все остальное, что нужно для проверки подлинности и квази-читательской биографии, изложенной без объяснения причин.</p>
                        <blockquote>
                            <h5>“Это не значит, что вы получите точно то же самое, если зайдете сюда: меню ресторана постоянно меняется в зависимости от сезонных ингредиентов”.</h5>
                        </blockquote>
                        <p>Никогда не говори, что это так, что я страдаю от того, что я страдаю от того, что я сижу здесь, консектур, адипски велит, что это не имеет значения, и что это за временные обстоятельства, связанные с трудом и великой болью, вызванной желанием.</p>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <img src="img/blog-img/19.jpg" alt="">
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="img/blog-img/20.jpg" alt="">
                            </div>
                        </div>
                        <p>Странный человек, фаретра у тебя на пути, тристик ес эним. Меценатский элемент долора, ведущий к преддверию малесуады. Пеллентеск у великих ворот, конечная элита и, наконец, моллис лакус. Проин elementum metus nec tincidunt iaculis. Донец у вульпутата сем, вененатис ультрасис фелис. Президент конваллис Маурис Лео, достойный знаток библии. Дуис содалес был убит одним из величайших преступников. Никаких последствий для Маттиса.</p>
                        <p>Вестибулум без тристического метуса. Морби темпус, никогда не сдавайся, фрингилья, фрингилья, никогда. В аликете изречение ex vitae eros convallis. Подвешенный вульпутат маурис и тинцидунт ронкус. Преддверие сит амет ниб ниси.</p>
                        <ul>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> Легкий бибендум просто так, в качестве приправы, в качестве приправы к маурису.</li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> Сед малесуада в новом темпусе, великий европейский союз.</li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> Вивамус лациния нибх ак лорем маттис.</li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> Фазеллус малесуада долор эгет велит пройти курс.</li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> Сделай окончательный выбор в пользу турписа волутпата и временного изменения.</li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> Меценат Лаорет никогда не сидел на одном месте.</li>
                        </ul>
                        <p>Мы знаем, что такое долг перед обществом, что такое адиписирующая элита, что такое временный инцидент, что такое труд и великая скорбь. Мы должны стремиться к минимальному вознаграждению, потому что это не требует больших затрат труда и не требует дополнительных затрат, как следствие этого.</p>
                        <div class="signature">
                            <img class="mb-0" src="img/core-img/signa.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Instagram Area Start ##### -->
    <div class="follow-us-instagram">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="instagram-slides owl-carousel">
                        <!-- Single Instagram Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/blog-img/insta1.jpg" alt="">
                            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                        </div>

                        <!-- Single Instagram Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/blog-img/insta2.jpg" alt="">
                            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                        </div>

                        <!-- Single Instagram Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/blog-img/insta3.jpg" alt="">
                            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                        </div>

                        <!-- Single Instagram Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/blog-img/insta4.jpg" alt="">
                            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                        </div>

                        <!-- Single Instagram Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/blog-img/insta5.jpg" alt="">
                            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                        </div>

                        <!-- Single Instagram Slide -->
                        <div class="single-instagram-slide">
                            <img src="img/blog-img/insta6.jpg" alt="">
                            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Instagram Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Footer Curve Line -->
                    <img class="footer-curve" src="img/core-img/foo-curve.png" alt="">
                    <!-- Footer Social Info -->
                    <div class="footer-social-info d-flex align-items-center justify-content-between">
                        <a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                        <a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                        <a href="#"><i class="fa fa-google-plus"></i><span>Google +</span></a>
                        <a href="#"><i class="fa fa-linkedin"></i><span>linkedin</span></a>
                        <a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a>
                        <a href="#"><i class="fa fa-vimeo"></i><span>Vimeo</span></a>
                        <a href="#"><i class="fa fa-youtube"></i><span>Youtube</span></a>
                    </div>
                    <!-- Footer Curve Line -->
                    <img class="footer-curve" src="img/core-img/foo-curve.png" alt="">
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>